In [ ]:
%cd /content/drive/MyDrive/Projects/wind_speed_forecasting/implementation1_univariate_single_step

/content/drive/MyDrive/Projects/wind_speed_forecasting/implementation1_univariate_single_step

In [ ]:
import pandas as pd

In [ ]:
!ls

data		       Rajasthan1.csv  Rajasthan3.csv  Rajasthan5.csv
implementation1.ipynb  Rajasthan2.csv  Rajasthan4.csv

Data Prep

In [ ]:
Making the daily data

SyntaxError: ignored

In [ ]:
import os

folders = os.listdir('./data')
print(arr)

for x in folders:
  files=os.listdir('./data/'+x)
  df_main=pd.DataFrame(columns=['Wind Speed'])

  for y in files:
    f1=pd.read_csv('./data/'+x+'/'+y, skiprows=[0,1])
    for i in range(int(len(f1)/24)): #loopng over days
      sum=0.0
      for j in range(24): #looping over hours
        sum+=f1['Wind Speed'].iloc[i*24+j]
      # print(sum)
      sum=sum/24
      df_main=df_main.append({'Wind Speed': sum}, ignore_index=True)
  df_main.to_csv(x+'.csv')

['Rajasthan5', 'Rajasthan4', 'Rajasthan3', 'Rajasthan2', 'Rajasthan1']

Ignore this part 


vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv

In [ ]:
ddf1=pd.read_csv('data/Rajasthan3/20012_26.25_73.05_2001.csv', skiprows=[0,1])

In [ ]:
ddf1

      Year  Month  Day  ...  Snow Depth  Wind Speed  Unnamed: 18
0     2001      1    1  ...           0    3.468779          NaN
1     2001      1    1  ...           0    3.510417          NaN
2     2001      1    1  ...           0    3.519412          NaN
3     2001      1    1  ...           0    3.532073          NaN
4     2001      1    1  ...           0    3.579910          NaN
...    ...    ...  ...  ...         ...         ...          ...
8755  2001     12   31  ...           0    3.170694          NaN
8756  2001     12   31  ...           0    3.287440          NaN
8757  2001     12   31  ...           0    3.300659          NaN
8758  2001     12   31  ...           0    3.317947          NaN
8759  2001     12   31  ...           0    3.385370          NaN

[8760 rows x 19 columns]

In [ ]:
ddf1=ddf1.drop(0)

In [ ]:
ddf1=ddf1.drop(1)

In [ ]:
ddf1

      Year  Month  Day  ...  Snow Depth  Wind Speed  Unnamed: 18
0     2001      1    1  ...           0    3.468779          NaN
1     2001      1    1  ...           0    3.510417          NaN
2     2001      1    1  ...           0    3.519412          NaN
3     2001      1    1  ...           0    3.532073          NaN
4     2001      1    1  ...           0    3.579910          NaN
...    ...    ...  ...  ...         ...         ...          ...
8755  2001     12   31  ...           0    3.170694          NaN
8756  2001     12   31  ...           0    3.287440          NaN
8757  2001     12   31  ...           0    3.300659          NaN
8758  2001     12   31  ...           0    3.317947          NaN
8759  2001     12   31  ...           0    3.385370          NaN

[8760 rows x 19 columns]

In [ ]:
ddf1.iloc[1]

Year                  2001.000000
Month                    1.000000
Day                      1.000000
Hour                     1.000000
Minute                   0.000000
DHI                      0.000000
DNI                      0.000000
GHI                      0.000000
Clearsky DHI             0.000000
Clearsky DNI             0.000000
Clearsky GHI             0.000000
Dew Point               -7.000000
Temperature             13.100408
Pressure               990.351440
Relative Humidity       23.548584
Solar Zenith Angle     168.426404
Snow Depth               0.000000
Wind Speed               3.510417
Unnamed: 18                   NaN
Name: 1, dtype: float64

In [ ]:
ddf2=pd.DataFrame(columns=['Wind Speed'])
for i in range(int(len(ddf1)/24)): #loopng over days
  sum=0.0
  for j in range(24): #looping over hours
    sum+=ddf1['Wind Speed'].iloc[i*24+j]
  # print(sum)
  sum=sum/24
  ddf2=ddf2.append({'Wind Speed': sum}, ignore_index=True)

In [ ]:
ddf2

     Wind Speed
0      2.750510
1      2.401115
2      2.497226
3      2.638047
4      2.840103
..          ...
360    3.156978
361    2.942983
362    2.643079
363    2.770112
364    2.733672

[365 rows x 1 columns]

Daily Values

In [ ]:
df=pd.read_csv('data/20012_26.25_73.05_2002.csv')

In [ ]:
df.head()
len(df)

8760

In [ ]:
print(365*24)

8760

In [ ]:
print(df['Wind Speed'].iloc[0])

1.97305977344513

In [ ]:
df2=pd.DataFrame(columns=['Wind Speed'])
for i in range(int(len(df)/24)): #loopng over days
  sum=0.0
  for j in range(24): #looping over hours
    sum+=df['Wind Speed'].iloc[i*24+j]
  sum=sum/24
  df2=df2.append({'Wind Speed': sum}, ignore_index=True)

In [ ]:
df2.head()

   Wind Speed
0    2.327425
1    2.833572
2    2.555026
3    2.973344
4    2.664695

In [ ]:
df2

     Wind Speed
0      2.327425
1      2.833572
2      2.555026
3      2.973344
4      2.664695
..          ...
360    2.369528
361    1.901246
362    2.024929
363    1.607879
364    3.284778

[365 rows x 1 columns]

In [ ]:
len(df2)

365

Start the model form here:

Model

In [ ]:
import numpy as np

In [ ]:
# split a univariate sequence into samples
def split_sequence(sequence, n_steps):
	X, y = list(), list()
	for i in range(len(sequence)):
		# find the end of this pattern
		end_ix = i + n_steps
		# check if we are beyond the sequence
		if end_ix > len(sequence)-1:
			break
		# gather input and output parts of the pattern
		seq_x, seq_y = sequence.iloc[i:end_ix], sequence.iloc[end_ix]
		X.append(seq_x)
		y.append(seq_y)
	return np.array(X), np.array(y)

In [ ]:
# define input sequence
raw_seq = [10, 20, 30, 40, 50, 60, 70, 80, 90]
# choose a number of time steps
n_steps = 7 #7 days as input
# split into samples
X, y = split_sequence(df2, n_steps)

In [ ]:
from keras.models import Sequential
from keras.layers import LSTM
from keras.layers import Dense

In [ ]:
# reshape from [samples, timesteps] into [samples, timesteps, features]
n_features = 1
X = X.reshape((X.shape[0], X.shape[1], n_features))
# define model
model = Sequential()
model.add(LSTM(50, activation='relu', return_sequences=True, input_shape=(n_steps, n_features)))
model.add(LSTM(50, activation='relu'))
model.add(Dense(1))
model.compile(optimizer='adam', loss='mse')
# fit model
model.fit(X, y, epochs=50, verbose=1)

ValueError: ignored

In [ ]:
# demonstrate prediction
x_input = np.array(df2.iloc[100:107])
x_input = x_input.reshape((1, n_steps, n_features))
yhat = model.predict(x_input, verbose=0)
print(yhat)

print(df2.iloc[0:7])

[[3.0501304]]
   Wind Speed
0    2.327425
1    2.833572
2    2.555026
3    2.973344
4    2.664695
5    2.371462
6    2.589434

In [ ]:
n_steps=7

For Rajasthan1

In [ ]:
df_rj1=pd.read_csv('Rajasthan1.csv')

In [ ]:
df_rj1

In [ ]:
len(df_rj1)

5475

In [ ]:
del df_rj1['Unnamed: 0']

In [ ]:
df_rj1_train=df_rj1[0:3650]
df_rj1_test=df_rj1[3650:]

In [ ]:
X, y = split_sequence(df_rj1_train, n_steps)

In [ ]:
X.shape

(3643, 7, 1)

In [ ]:
# reshape from [samples, timesteps] into [samples, timesteps, features]
n_features = 1
X = X.reshape((X.shape[0], X.shape[1], n_features))
# define model
model = Sequential()
model.add(LSTM(50, activation='relu', return_sequences=True, input_shape=(n_steps, n_features)))
model.add(LSTM(50, activation='relu'))
model.add(Dense(1))
model.compile(optimizer='adam', loss='mse')
# fit model
model.fit(X, y, epochs=50, verbose=1)

In [ ]:
import keras.backend as K
print(K.eval(model.optimizer.lr))

0.001

In [ ]:
X.shape

(3643, 7, 1)

In [ ]:
X[1].shape

(7, 1)

In [ ]:
y.shape

(3643, 1)

In [ ]:
def get_metrics(X,y):
  size=X.shape[0]
  mse=0.0
  mae=0.0
  mape=0.0
  for i in range(size):
    yhat = model.predict(X[i].reshape((1, n_steps, n_features)),verbose=0)
    mse+=(yhat-y[i])*(yhat-y[i])
    mae+=abs((yhat-y[i]))
    mape+=abs((y[i]-yhat)/y[i])
  
  mse=mse/size
  mae=mae/size
  mape=mape/size
  print("MSE= ",mse)
  print("MAPE= ",mae)
  print("MAPE= ",mape)

In [ ]:
X[1].shape

(7, 1)

In [ ]:
get_metrics(X,y)

MSE=  [[0.59629473]]
MAPE=  [[0.60696462]]
MAPE=  [[0.25699195]]

In [ ]:
X, y = split_sequence(df_rj1_test, n_steps)

In [ ]:
get_metrics(X,y)

MSE=  [[0.69491095]]
MAPE=  [[0.65003601]]
MAPE=  [[0.2533884]]

In [ ]:
print(X[1],y[1])
print(model.predict(X[1].reshape((1, n_steps, n_features)),verbose=0))

[[3.1202378 ]
 [2.47421804]
 [1.71024389]
 [1.78010493]
 [1.70760183]
 [2.69992536]
 [3.28460699]] [2.61484574]
[[3.1211452]]

For Rajasthan2

In [ ]:
df_rj1=pd.read_csv('Rajasthan2.csv')

NameError: ignored

In [ ]:
del df_rj1['Unnamed: 0']

In [ ]:
df_rj1_train=df_rj1[0:3650]
df_rj1_test=df_rj1[3650:]

In [ ]:
X, y = split_sequence(df_rj1_train, n_steps)

In [ ]:
# reshape from [samples, timesteps] into [samples, timesteps, features]
n_features = 1
X = X.reshape((X.shape[0], X.shape[1], n_features))
# define model
model = Sequential()
model.add(LSTM(50, activation='relu', return_sequences=True, input_shape=(n_steps, n_features)))
model.add(LSTM(50, activation='relu'))
model.add(Dense(1))
model.compile(optimizer='adam', loss='mse')
# fit model
model.fit(X, y, epochs=50, verbose=1)

Epoch 1/50
114/114 [==============================] - 3s 8ms/step - loss: 1.7833
Epoch 2/50
114/114 [==============================] - 1s 9ms/step - loss: 0.6496
Epoch 3/50
114/114 [==============================] - 1s 9ms/step - loss: 0.5693
Epoch 4/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4883
Epoch 5/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4584
Epoch 6/50
114/114 [==============================] - 1s 10ms/step - loss: 0.4559
Epoch 7/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4537
Epoch 8/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4435
Epoch 9/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4531
Epoch 10/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4364
Epoch 11/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4390
Epoch 12/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4373
Epoch 13/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4374
Epoch 14/50
114/114 [==============================] - 1s 8ms/step - loss: 0.4431
Epoch 15/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4374
Epoch 16/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4361
Epoch 17/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4342
Epoch 18/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4345
Epoch 19/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4356
Epoch 20/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4334
Epoch 21/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4391
Epoch 22/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4341
Epoch 23/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4287
Epoch 24/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4343
Epoch 25/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4328
Epoch 26/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4399
Epoch 27/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4395
Epoch 28/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4351
Epoch 29/50
114/114 [==============================] - 1s 10ms/step - loss: 0.4285
Epoch 30/50
114/114 [==============================] - 1s 10ms/step - loss: 0.4305
Epoch 31/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4390
Epoch 32/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4414
Epoch 33/50
114/114 [==============================] - 1s 10ms/step - loss: 0.4308
Epoch 34/50
114/114 [==============================] - 1s 10ms/step - loss: 0.4382
Epoch 35/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4329
Epoch 36/50
114/114 [==============================] - 1s 10ms/step - loss: 0.4334
Epoch 37/50
114/114 [==============================] - 1s 10ms/step - loss: 0.4328
Epoch 38/50
114/114 [==============================] - 1s 10ms/step - loss: 0.4300
Epoch 39/50
114/114 [==============================] - 1s 10ms/step - loss: 0.4307
Epoch 40/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4323
Epoch 41/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4308
Epoch 42/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4325
Epoch 43/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4356
Epoch 44/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4335
Epoch 45/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4282
Epoch 46/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4307
Epoch 47/50
114/114 [==============================] - 1s 10ms/step - loss: 0.4273
Epoch 48/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4276
Epoch 49/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4320
Epoch 50/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4291

In [ ]:
def get_metrics(X,y):
  size=X.shape[0]
  mse=0.0
  mae=0.0
  mape=0.0
  for i in range(size):
    yhat = model.predict(X[i].reshape((1, n_steps, n_features)),verbose=0)
    mse+=(yhat-y[i])*(yhat-y[i])
    mae+=abs((yhat-y[i]))
    mape+=abs((y[i]-yhat)/y[i])
  
  mse=mse/size
  mae=mae/size
  mape=mape/size
  print("MSE= ",mse)
  print("MAPE= ",mae)
  print("MAPE= ",mape)

In [ ]:
get_metrics(X,y)

MSE=  [[0.42822032]]
MAPE=  [[0.51052447]]
MAPE=  [[0.23288052]]

In [ ]:
X, y = split_sequence(df_rj1_test, n_steps)

In [ ]:
get_metrics(X,y)

MSE=  [[0.43178717]]
MAPE=  [[0.51406067]]
MAPE=  [[0.23407707]]

In [ ]:
print(X[1],y[1])
print(model.predict(X[1].reshape((1, n_steps, n_features)),verbose=0))

[[2.22311289]
 [1.70888176]
 [2.15840032]
 [2.58308075]
 [2.20122171]
 [2.59029947]
 [3.27305872]] [3.65195856]
[[3.0482762]]

For Rajasthan3

In [ ]:
df_rj1=pd.read_csv('Rajasthan3.csv')

In [ ]:
del df_rj1['Unnamed: 0']

In [ ]:
df_rj1_train=df_rj1[0:3650]
df_rj1_test=df_rj1[3650:]

In [ ]:
X, y = split_sequence(df_rj1_train, n_steps)

In [ ]:
# reshape from [samples, timesteps] into [samples, timesteps, features]
n_features = 1
X = X.reshape((X.shape[0], X.shape[1], n_features))
# define model
model = Sequential()
model.add(LSTM(50, activation='relu', return_sequences=True, input_shape=(n_steps, n_features)))
model.add(LSTM(50, activation='relu'))
model.add(Dense(1))
model.compile(optimizer='adam', loss='mse')
# fit model
model.fit(X, y, epochs=50, verbose=1)

Epoch 1/50
114/114 [==============================] - 3s 9ms/step - loss: 1.8977
Epoch 2/50
114/114 [==============================] - 1s 9ms/step - loss: 0.6465
Epoch 3/50
114/114 [==============================] - 1s 9ms/step - loss: 0.5781
Epoch 4/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4945
Epoch 5/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4517
Epoch 6/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4417
Epoch 7/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4423
Epoch 8/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4303
Epoch 9/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4279
Epoch 10/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4230
Epoch 11/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4299
Epoch 12/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4238
Epoch 13/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4175
Epoch 14/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4248
Epoch 15/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4147
Epoch 16/50
114/114 [==============================] - 1s 10ms/step - loss: 0.4211
Epoch 17/50
114/114 [==============================] - 1s 10ms/step - loss: 0.4169
Epoch 18/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4215
Epoch 19/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4336
Epoch 20/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4273
Epoch 21/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4135
Epoch 22/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4133
Epoch 23/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4164
Epoch 24/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4181
Epoch 25/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4190
Epoch 26/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4177
Epoch 27/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4161
Epoch 28/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4170
Epoch 29/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4136
Epoch 30/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4208
Epoch 31/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4100
Epoch 32/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4119
Epoch 33/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4147
Epoch 34/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4144
Epoch 35/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4101
Epoch 36/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4172
Epoch 37/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4114
Epoch 38/50
114/114 [==============================] - 1s 10ms/step - loss: 0.4130
Epoch 39/50
114/114 [==============================] - 1s 10ms/step - loss: 0.4153
Epoch 40/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4079
Epoch 41/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4155
Epoch 42/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4088
Epoch 43/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4138
Epoch 44/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4110
Epoch 45/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4135
Epoch 46/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4201
Epoch 47/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4116
Epoch 48/50
114/114 [==============================] - 1s 10ms/step - loss: 0.4109
Epoch 49/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4137
Epoch 50/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4104

In [ ]:
def get_metrics(X,y):
  size=X.shape[0]
  mse=0.0
  mae=0.0
  mape=0.0
  for i in range(size):
    yhat = model.predict(X[i].reshape((1, n_steps, n_features)),verbose=0)
    mse+=(yhat-y[i])*(yhat-y[i])
    mae+=abs((yhat-y[i]))
    mape+=abs((y[i]-yhat)/y[i])
  
  mse=mse/size
  mae=mae/size
  mape=mape/size
  print("MSE= ",mse)
  print("MAPE= ",mae)
  print("MAPE= ",mape)

In [ ]:
get_metrics(X,y)

MSE=  [[0.40180154]]
MAPE=  [[0.48989117]]
MAPE=  [[0.21939084]]

In [ ]:
X, y = split_sequence(df_rj1_test, n_steps)

In [ ]:
get_metrics(X,y)

MSE=  [[0.36655597]]
MAPE=  [[0.47110083]]
MAPE=  [[0.20115753]]

In [ ]:
print(X[1],y[1])
print(model.predict(X[1].reshape((1, n_steps, n_features)),verbose=0))

[[1.67324088]
 [2.53296256]
 [2.75000324]
 [2.47666694]
 [3.0107489 ]
 [2.37216843]
 [1.43135912]] [1.63967266]
[[1.7971389]]

For Rajasthan4

In [ ]:
df_rj1=pd.read_csv('Rajasthan4.csv')

In [ ]:
del df_rj1['Unnamed: 0']

In [ ]:
df_rj1_train=df_rj1[0:3650]
df_rj1_test=df_rj1[3650:]

In [ ]:
X, y = split_sequence(df_rj1_train, n_steps)

In [ ]:
# reshape from [samples, timesteps] into [samples, timesteps, features]
n_features = 1
X = X.reshape((X.shape[0], X.shape[1], n_features))
# define model
model = Sequential()
model.add(LSTM(50, activation='relu', return_sequences=True, input_shape=(n_steps, n_features)))
model.add(LSTM(50, activation='relu'))
model.add(Dense(1))
model.compile(optimizer='adam', loss='mse')
# fit model
model.fit(X, y, epochs=50, verbose=1)

Epoch 1/50
114/114 [==============================] - 3s 9ms/step - loss: 2.4059
Epoch 2/50
114/114 [==============================] - 1s 9ms/step - loss: 0.7809
Epoch 3/50
114/114 [==============================] - 1s 9ms/step - loss: 0.6634
Epoch 4/50
114/114 [==============================] - 1s 9ms/step - loss: 0.5273
Epoch 5/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4773
Epoch 6/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4651
Epoch 7/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4738
Epoch 8/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4736
Epoch 9/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4593
Epoch 10/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4644
Epoch 11/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4619
Epoch 12/50
114/114 [==============================] - 1s 10ms/step - loss: 0.4682
Epoch 13/50
114/114 [==============================] - 1s 10ms/step - loss: 0.4603
Epoch 14/50
114/114 [==============================] - 1s 10ms/step - loss: 0.4565
Epoch 15/50
114/114 [==============================] - 1s 10ms/step - loss: 0.4553
Epoch 16/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4509
Epoch 17/50
114/114 [==============================] - 1s 10ms/step - loss: 0.4528
Epoch 18/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4580
Epoch 19/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4546
Epoch 20/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4572
Epoch 21/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4593
Epoch 22/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4592
Epoch 23/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4533
Epoch 24/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4503
Epoch 25/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4528
Epoch 26/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4538
Epoch 27/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4501
Epoch 28/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4497
Epoch 29/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4455
Epoch 30/50
114/114 [==============================] - 1s 10ms/step - loss: 0.4458
Epoch 31/50
114/114 [==============================] - 1s 10ms/step - loss: 0.4465
Epoch 32/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4576
Epoch 33/50
114/114 [==============================] - 1s 10ms/step - loss: 0.4521
Epoch 34/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4484
Epoch 35/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4448
Epoch 36/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4505
Epoch 37/50
114/114 [==============================] - 1s 10ms/step - loss: 0.4477
Epoch 38/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4511
Epoch 39/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4494
Epoch 40/50
114/114 [==============================] - 1s 10ms/step - loss: 0.4451
Epoch 41/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4495
Epoch 42/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4464
Epoch 43/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4522
Epoch 44/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4501
Epoch 45/50
114/114 [==============================] - 1s 10ms/step - loss: 0.4470
Epoch 46/50
114/114 [==============================] - 1s 10ms/step - loss: 0.4436
Epoch 47/50
114/114 [==============================] - 1s 10ms/step - loss: 0.4486
Epoch 48/50
114/114 [==============================] - 1s 10ms/step - loss: 0.4439
Epoch 49/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4493
Epoch 50/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4471

In [ ]:
def get_metrics(X,y):
  size=X.shape[0]
  mse=0.0
  mae=0.0
  mape=0.0
  for i in range(size):
    yhat = model.predict(X[i].reshape((1, n_steps, n_features)),verbose=0)
    mse+=(yhat-y[i])*(yhat-y[i])
    mae+=abs((yhat-y[i]))
    mape+=abs((y[i]-yhat)/y[i])
  
  mse=mse/size
  mae=mae/size
  mape=mape/size
  print("MSE= ",mse)
  print("MAPE= ",mae)
  print("MAPE= ",mape)

In [ ]:
get_metrics(X,y)

MSE=  [[0.44455149]]
MAPE=  [[0.52534499]]
MAPE=  [[0.22481548]]

In [ ]:
X, y = split_sequence(df_rj1_test, n_steps)

In [ ]:
get_metrics(X,y)

MSE=  [[0.49922157]]
MAPE=  [[0.54975125]]
MAPE=  [[0.24361658]]

In [ ]:
print(X[1],y[1])
print(model.predict(X[1].reshape((1, n_steps, n_features)),verbose=0))

[[2.968328  ]
 [1.8874262 ]
 [2.96495191]
 [1.41972753]
 [2.66607391]
 [2.26880564]
 [2.83725868]] [3.25754037]
[[2.9153163]]

For Rajasthan5

In [ ]:
df_rj1=pd.read_csv('Rajasthan5.csv')

In [ ]:
del df_rj1['Unnamed: 0']

In [ ]:
df_rj1_train=df_rj1[0:3650]
df_rj1_test=df_rj1[3650:]

In [ ]:
X, y = split_sequence(df_rj1_train, n_steps)

In [ ]:
# reshape from [samples, timesteps] into [samples, timesteps, features]
n_features = 1
X = X.reshape((X.shape[0], X.shape[1], n_features))
# define model
model = Sequential()
model.add(LSTM(50, activation='relu', return_sequences=True, input_shape=(n_steps, n_features)))
model.add(LSTM(50, activation='relu'))
model.add(Dense(1))
model.compile(optimizer='adam', loss='mse')
# fit model
model.fit(X, y, epochs=50, verbose=1)

Epoch 1/50
114/114 [==============================] - 3s 9ms/step - loss: 2.7838
Epoch 2/50
114/114 [==============================] - 1s 9ms/step - loss: 0.7414
Epoch 3/50
114/114 [==============================] - 1s 9ms/step - loss: 0.5826
Epoch 4/50
114/114 [==============================] - 1s 9ms/step - loss: 0.5122
Epoch 5/50
114/114 [==============================] - 1s 10ms/step - loss: 0.4935
Epoch 6/50
114/114 [==============================] - 1s 10ms/step - loss: 0.4961
Epoch 7/50
114/114 [==============================] - 1s 10ms/step - loss: 0.4977
Epoch 8/50
114/114 [==============================] - 1s 10ms/step - loss: 0.4859
Epoch 9/50
114/114 [==============================] - 1s 10ms/step - loss: 0.4929
Epoch 10/50
114/114 [==============================] - 1s 10ms/step - loss: 0.4817
Epoch 11/50
114/114 [==============================] - 1s 10ms/step - loss: 0.4795
Epoch 12/50
114/114 [==============================] - 1s 10ms/step - loss: 0.4848
Epoch 13/50
114/114 [==============================] - 1s 10ms/step - loss: 0.4885
Epoch 14/50
114/114 [==============================] - 1s 10ms/step - loss: 0.4890
Epoch 15/50
114/114 [==============================] - 1s 10ms/step - loss: 0.4854
Epoch 16/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4814
Epoch 17/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4970
Epoch 18/50
114/114 [==============================] - 1s 10ms/step - loss: 0.4794
Epoch 19/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4855
Epoch 20/50
114/114 [==============================] - 1s 10ms/step - loss: 0.4877
Epoch 21/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4804
Epoch 22/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4923
Epoch 23/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4864
Epoch 24/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4833
Epoch 25/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4799
Epoch 26/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4770
Epoch 27/50
114/114 [==============================] - 1s 10ms/step - loss: 0.4736
Epoch 28/50
114/114 [==============================] - 1s 10ms/step - loss: 0.4754
Epoch 29/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4843
Epoch 30/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4832
Epoch 31/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4846
Epoch 32/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4825
Epoch 33/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4780
Epoch 34/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4794
Epoch 35/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4775
Epoch 36/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4799
Epoch 37/50
114/114 [==============================] - 1s 10ms/step - loss: 0.4784
Epoch 38/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4712
Epoch 39/50
114/114 [==============================] - 1s 10ms/step - loss: 0.4743
Epoch 40/50
114/114 [==============================] - 1s 10ms/step - loss: 0.4805
Epoch 41/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4803
Epoch 42/50
114/114 [==============================] - 1s 10ms/step - loss: 0.4818
Epoch 43/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4715
Epoch 44/50
114/114 [==============================] - 1s 10ms/step - loss: 0.4728
Epoch 45/50
114/114 [==============================] - 1s 10ms/step - loss: 0.4783
Epoch 46/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4768
Epoch 47/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4801
Epoch 48/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4740
Epoch 49/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4795
Epoch 50/50
114/114 [==============================] - 1s 9ms/step - loss: 0.4816

In [ ]:
def get_metrics(X,y):
  size=X.shape[0]
  mse=0.0
  mae=0.0
  mape=0.0
  for i in range(size):
    yhat = model.predict(X[i].reshape((1, n_steps, n_features)),verbose=0)
    mse+=(yhat-y[i])*(yhat-y[i])
    mae+=abs((yhat-y[i]))
    mape+=abs((y[i]-yhat)/y[i])
  
  mse=mse/size
  mae=mae/size
  mape=mape/size
  print("MSE= ",mse)
  print("MAPE= ",mae)
  print("MAPE= ",mape)

In [ ]:
get_metrics(X,y)

MSE=  [[0.52998984]]
MAPE=  [[0.57714016]]
MAPE=  [[0.25164071]]

In [ ]:
X, y = split_sequence(df_rj1_test, n_steps)

In [ ]:
get_metrics(X,y)

MSE=  [[0.54844033]]
MAPE=  [[0.58286575]]
MAPE=  [[0.25332649]]

In [ ]:
print(X[1],y[1])
print(model.predict(X[1].reshape((1, n_steps, n_features)),verbose=0))

[[2.5030784 ]
 [3.75442104]
 [3.81702284]
 [3.66438784]
 [4.03356438]
 [4.17388174]
 [3.59413673]] [3.14355398]
[[3.6445425]]